{% extends "index.html" %}
{% block title %}
Login
{% endblock %}

{% block content %}
<style>
    img {
        height: 100px;
        width: 100px;
    }
</style>
<div class="container mt-4">
    <form class="col-6 mx-auto card p-4 shadow-lg" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Login</h2>
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3"> Submit</button>
        <br>
        <p>Don't have account? <a href="{% url 'register' %}">Sign up</a> </p>
    </form>

</div>
{% endblock %}